@import '/src/color-palete.scss';
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

.container-post {
  background-color: $black-simple;
  margin-top: 70%;
  h2, span {
    color: $white;
  }
}

.user-option mat-icon {
  color: $white;
  cursor: pointer;
}

.info-user mat-icon {
  color: $white;
}

.info-user mat-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.info-user .post-hours {
  font-size: 12px;
}

.info-user .user-name {
  color: $blue;
}
