@import "/src/color-palete.scss";

.title {
  color: $white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
}

.col-form-label {
  color: $white;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
}

.message-warning {
  color: $white;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.message-server {
  width: 60%;
  text-align: end;
  color: red;
}
