<div class="container-icon d-flex align-items-center col-8">
  <div class="like d-flex align-items-center mr-3">
    <mat-icon class="material-icons-outlined" (click)="upvotePost()">
      thumb_up
    </mat-icon>
    <span class="ml-2">{{post.voteCount}}</span>
  </div>
  <div class="dislike d-flex align-items-center mr-3">
    <mat-icon class="material-icons-outlined" (click)="downvotePost()">
      thumb_down
    </mat-icon>
    <span class="ml-2">3</span>
  </div>
  <div class="message d-flex align-items-center">
    <mat-icon class="material-icons-outlined">
      chat_bubble
    </mat-icon>
    <span class="ml-2">{{post.commentCount}}</span>
  </div>
</div>
